<div class="container">
    <div class="content">
        <div class="header">
            <h1>Subir Archivo</h1>
        </div>

        <div class="input-group mb-3">

            <input type="file" class="form-control" (change)="onFileChange($event)">
            <button [disabled]="!uploadedFiles?.length" class="btn btn-success input-group-text"
                (click)="onUpload()">Subir</button>
        </div>
        <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
    </div>
</div>